/* GENERIC */

:root {
  --color-primary: #025373;
  --color-secondary: #6ea4cf;
  --color-dark: #003552;
  --color-light: #c8dff3;
  --color-accent: #d23440;
}

html,
body {
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
}

.small-img {
  width: 100%;
  max-width: 450px;
  display: block;
}

.img {
  width: 100%;
  max-width: 600px;
  display: block;
}

.background-img {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

p {
  max-width: 85ch;
  margin: 20px;
}

.centered-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-container {
  display: flex;
  width: 800px;
  margin: 0 auto;
}

.column {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
  height: 600px;
}

.top-bar {
  text-align: center;
  padding-bottom: 30px;
  padding: 20px;
}

body {
  font-family: "Gill Sans", sans-serif;
}

a:link {
  color: var(--color-secondary);
}

a:visited {
  color: var(--color-primary);
}

.button {
  border-width: 0;
}

.caption {
  font-size-adjust: 0.4;
  margin: 0;
  max-width: 70vw;
  text-align: center;
}

/* VIDEO */

.video-wrapper iframe {
  width: 100vw;
  aspect-ratio: 16 / 9;
  height: auto;
  max-width: 600px;
}

/* ADVENTURES GRID */

.grid {
  display: grid;
  gap: 60px;
  padding: 50px;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
}

.card {
  background-color: var(--color-light);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30vw;
  max-width: 190px;
  aspect-ratio: 1 / 1;
  border-radius: 9px;
  border-width: 0;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  aspect-ratio: 1/1;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.card-title {
  font-size: clamp(4px, 3vw, 16px);
  font-weight: bold;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  color: var(--color-dark);
  padding: 20px;
}

/* LEGO SHELF  */
.shelf-container {
  padding: 20px;
}

.shelf {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 15px;
  height: 200px;
  border-bottom: 15px solid saddlebrown;
  padding: 10px;
  border-radius: 5px;
}

.item {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.item:hover {
  transform: translateY(-10px) rotate(2deg);
}
